.about {
  padding-top: 100px;
  &__content {
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    // gap: 103.5px;
    background-color: #f5fcf8;
  }
  &__descr {
    width: 60%;
  }
  &__heading {
    margin-bottom: 20px;
  }
  &__text {
    color: #1f1f1f;
  }
  &__img {
  }
}
