.about {
  padding-top: 100px;
  &__content {
    padding: 0 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 103.5px;
    background-color: #f5fcf8;
  }
  &__descr {
    width: 47.8%;
    padding: 20px 0;
  }
  &__heading {
    margin-bottom: 10px;
  }
  &__text {
    color: #1f1f1f;
  }
  &__img {
    width: 50%;
  }
  @media screen and (max-width: 992px) {
    .about {
      &__content {
        flex-direction: column;
        gap: 20px;
        padding-bottom: 20px;
      }
      &__descr {
        width: 100%;
      }
      &__img {
        width: 100%;
      }
    }
  }
}
