.feedback {
  padding: 120px 0;
  @media screen and (max-width: 992px) {
    padding: 60px 0;
  }
  &__content {
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 clamp(3.125rem, -4.844rem + 19.92vw, 19.063rem) ;
  }
}

.swiper {
  &__buttons {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-button-prev-unique {
    transform: rotateY(-180deg);
  }
  &-pagination-bullet {
    width: 12px;
    height: 12px;
  }
  &-pagination-bullet-active {
    background: $accent_color;
  }
}

.slide {
  &__content {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1170px;
    margin: 62px auto 60px;
    padding: 30px 40px 30px 30px;
    border-radius: 10px;
    background-color: #f5f9fa;
    gap: 50px;
  }
  &__img {
    max-width: 550px;
    width: 50%;
  }
  &__descr {
    max-width: 500px;
    width: 50%;
  }
  &__text {
    margin-bottom: 20px;
  }
  &__info {
  }
  &__name {
    margin-bottom: 10px;
  }
  &__job-title {
    font-size: 14px;
    line-height: calc(21 / 14);
    font-weight: 300;
  }
  @media screen and (max-width: 992px) {
    &__content {
      flex-direction: column;
      text-align: center;
    }
    &__img {
      width: 100%;
    }
    &__descr {
      width: 100%;
      max-width: none;
    }
  }
}
.swiper-slide {
  width: fit-content;
  margin: 0 auto;
}
