.footer {
    padding: 106px 0 100px;
    text-align: center;
  @media screen and (max-width: 992px) {
    padding: 50px 0;
  }
  &__logo {
    margin: 0 auto 46px;
  }
  &__navigation {
    margin-bottom: 40px;
  }
  &__menu {
    .menu__link {
      color: #1f1f1f;
    }
  }
  &__copyrights {
  }
}
