.header {
  padding: 33px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.3s;
  z-index: 10;
  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 992px) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      padding: 80px 40px 40px 40px;
      background-color: $dark;
      z-index: 999;
      overflow: auto;
      transform: translateX(100%);
      transition: transform 0.5s ease-in-out;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .menu {
        flex-direction: column;
        &__link {
          color: #fff;
        }
      }
      &.open {
        transform: translateX(0);
      }
    }
  }
  &.sticky {
    background-color: $half_dark;
    // Change color on sticky header
    .menu__link {
      color: #fff;
      &:hover {
        color: $dark;
      }
    }
  }
  &__icon {
    display: none;
    @media screen and (max-width: 992px) {
      display: block;
      height: 18px;
      width: 30px;
      position: relative;
      cursor: pointer;
      z-index: 1000;
      span {
        transition: all 0.3s ease;
        top: calc(50% - 1px);
        left: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $dark;
        &:first-child {
          top: 0;
        }
        &:last-child {
          top: auto;
          bottom: 0;
        }
      }
      &._active {
        span {
          background-color: #fff;
          transform: scale(0);
          &:first-child {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
          }
          &:last-child {
            transform: rotate(45deg);
            bottom: calc(50% - 1px);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .logo {
    margin-bottom: 50px;
  }
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 53px;
  &__link {
    text-decoration: none;
    color: #a2a2a2;
    font-weight: 400;
    transition: all 0.3s;
    &:hover {
      color: $dark;
      font-weight: 500;
    }
  }
}
