.hero {
  background-color: #f1f6f8;
  &-container {
    min-height: 970px;
    position: relative;
    overflow: hidden;
  }
  &__content {
    padding: 178px 140px 0;
    height: 100%;
  }
  &__descr {
    width: 542px;
  }
  &__heading {
    margin-bottom: 10px;
  }
  &__text {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.5;
  }
  &__btn {
  }
  &__img {
    position: absolute;
    right: 0;
    bottom: -30%;
  }
}
