.hero {
  background-color: #f1f6f8;
  &-container {
    position: relative;
    overflow: hidden;
    height: 970px;
    @media screen and (max-width: 992px) {
      height: auto;
    }
  }
  &__content {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 140px 0;
    z-index: 1;
    // max-height: 970px;
    height: 100%;
    @media screen and (max-width: 992px) {
      padding: 100px 0 0;
      align-items: flex-start;
      flex-direction: column;
    }
  }
  &__descr {
    width: 542px;
  }
  &__heading {
    margin-bottom: 10px;
  }
  &__text {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.5;
  }
  &__img {
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: -30%;
    @media screen and (max-width: 1200px) {
      right: -10%;
      width: 60%;
    }
    @media screen and (max-width: 992px) {
      position: static;
      margin-left: auto;
    }
  }
}
