.touch {
  padding: 120px 0 114px;
  background-color: #f5f9fa;
  @media screen and (max-width: 992px) {
    padding: 50px 0;
  }
  &__container {
    display: flex;
    justify-content: center;
    gap: clamp(1.25rem, -4.063rem + 13.28vw, 11.875rem);
    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
  }
  &__heading {
    text-align: center;
  }
  &__descr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
  }
  &__email {
    color: $accent_color;
    font-size: 20px;
  }
  &__address {
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    color: #1f1f1f;
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: clamp(28.125rem, 24.375rem + 9.38vw, 35.625rem) ;
  margin-right: 20px;
  @media screen and (max-width: 768px) {
    width: 100%;
  }

  &__input {
    border-radius: 6px;
    border: solid 1px #c9ccd4;
    padding: 18px 0 18px 24px;
  }
  &__textarea {
    height: 132px;
  }
  input,
  textarea {
    &:focus {
      outline: none;
      border: 1px solid #3b7a64;
      outline: solid 4px rgba(105, 174, 150, 0.3);
    }
  }
  &__error {
    color: red;
    font-weight: 600;
  }
  &__btn {
    width: 288px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  &__icon {
    fill: white;
  }
}

@media screen and (max-width: 992px) {
  .touch {
    &__descr {
      width: 100%;
    }
    &__heading {
      margin-bottom: 30px;
    }
    &__info {
      margin: 0 auto;
    }
  }
  .form {
    margin: 0 auto;
    &__btn {
      width: 100%;
    }
  }
}
