body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

img {
  display: block;
  margin: 0;
}

.container {
  max-width: 1920px;
  padding: 0 60px;
  margin: 0 auto;
}

.colored {
  color: #69ae96;
}

.lock {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.heading {
  font-family: "Italiana", sans-serif;
  letter-spacing: 0.04em;
  &-1 {
    font-size: 90px;
    line-height: calc(106 / 90);
  }
  &-2 {
    font-size: 70px;
    line-height: calc(82 / 70);
  }
  &-3 {
    font-size: 60px;
  }
  @media screen and (max-width: 1200px) {
    &-2 {
      font-size: 50px;
    }
  }
  @media screen and (max-width: 992px) {
    &-2 {
      font-size: 40px;
    }
  }
}

.text {
  letter-spacing: 0;
  line-height: calc(24 / 16);
  &-italic {
    font-size: 18px;
    line-height: calc(27 / 18);
    font-style: italic;
  }
  &-bold {
    font-weight: 600;
  }
  &-default {
    font-weight: 300;
  }
  &-default-small {
    font-size: 14px;
    line-height: calc(21 / 14);
  }
  @media screen and (max-width: 992px) {
    font-size: 14px;
  }
}

.btn {
  box-sizing: border-box;
  background-color: $accent_color;
  padding: 18px 63.5px;
  border-radius: 41px;
  border: none;
  color: #fff;
  box-shadow: 0 12px 24px 0 rgba(44, 39, 56, 0.08);
  transition: 0.3s all;
  @media screen and (min-width: 992px) {
    &:hover {
      cursor: pointer;
      background-color: $btn-focus-color;
    }
  }
  &:active {
    outline: solid 2px $btn-focus-color;
    background-color: $accent_color;
    box-shadow: 0 0 0 4px #69ae96;
  }
  &:disabled {
    background-color: #e5e5e5;
    color: #bbb9b9;
    box-shadow: none;
    cursor: not-allowed;
  }
}

.btn-arrow {
  width: 60px;
  height: 60px;
  border: solid 1px #e7e7e7;
  background-color: #fff;
  border-radius: 100%;
  transition: 0.3s all;
  @media screen and (min-width: 992px) {
    &:hover {
      cursor: pointer;
      background-color: $accent_color;
      svg {
        fill: #fff;
      }
    }
  }
  &:active {
    border: solid 2px $btn-focus-color;
    background-color: $accent_color;
    box-shadow: 0 0 0 4px #69ae96;
  }
  &:disabled {
    background-color: #e5e5e5;
    color: #bbb9b9;
    box-shadow: none;
    cursor: not-allowed;
  }
}
