@import "fonts.scss";
@import "lib/normalize.scss";
@import "lib/swiper-bundle.min.scss";
@import "vars.scss";
@import "common.scss";
@import "components/index";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
